@charset "utf-8";

/*  CSS Document *

*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color:*/
}


body {
    font-family: 'Courier New', Courier, monospace;
    background-image: linear-gradient(#73c5aa, #1c8080);
}

header{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color:*/
}

nav{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}